git+ssh://git@bitbucket.org/cianmedia/common_constants.git@master#egg=pysea-common-constants
git+ssh://git@bitbucket.org/cianmedia/google_analytics.git@master#egg=pysea-google-analytics
certifi==2020.6.20
chardet==3.0.4
curlify==2.2.1
idna==2.10
requests==2.24.0
urllib3==1.25.9
