git+https://github.com/ekomissarov/common_constants.git@main#egg=pysea-common-constants
git+https://github.com/ekomissarov/google_analytics.git@main#egg=pysea-google-analytics
certifi==2020.6.20
chardet==3.0.4
curlify==2.2.1
idna==2.10
requests==2.24.0
urllib3==1.25.9
